<div class="bg-body-secondary p-2">
<h1>ngfor Component</h1>
<h3>İsimler</h3>
<div *ngFor="let name of names" >{{name}}</div>
<h3>İsimler</h3>
<div *ngFor="let user of userList" >{{user.id}} - {{user.name}} - {{user.email}} {{user.yemek}}</div>
<h3>İsimler table</h3>
</div>
<table class="table table-info table-bordered table-hover">
    <thead>
        <tr>
            <th>İd</th>
            <th>Name</th>
            <th>Email</th>
            <th>yemek</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of userList">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.yemek}}</td>
        </tr>
    </tbody>
</table>