<p>pipe works!</p>
<p>{{person1 | json | uppercase}}</p>
<p>{{person2 | json | lowercase}}</p>
<p>{{'angular'| titlecase }}</p>
<p>{{person1.firstname | titlecase }}</p>
<p>{{person1.lastname| uppercase }}</p>
<h3>Date Pipes</h3>
<h3>{{mydate | date:'d/dd/y'}}</h3>
<h3>{{mydate | date:'longDate'}}</h3>
<h3>{{mydate | date:'shortTime'}}</h3>
<h3>{{myPrice | currency:'₺'}}</h3>
<h3>{{myPrice | currency}}</h3>
<h3>Decimal pipe</h3>
<h3>{{5.31545121 | number:'1.0-5'}}</h3>
<h3>{{5.31545121 | number}}</h3>
<h3>{{5 | number:'3.0-5'}}</h3>
<hr>

