<div class="row">
    <div class="col-md-8 offset-md-2 container">  
        <form  [formGroup]="loginForm" (ngSubmit)="gris()" class="form-switch">
            <div class="mb-3">
                <label class="form-label" for="userName">Username: </label>
                <br>
                <input class="form-control" type="text"  formControlName="userName">
            </div>
            <div class="p-1 border border-success rounded-1 ">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-primary">     Valid: {{loginForm.get("userName")?.valid}}</li>
                    <li class="list-group-item list-group-item-success">    invalid: {{loginForm.get("userName")?.invalid}}</li>
                    <li class="list-group-item list-group-item-secondary">  errors:{{loginForm.get("userName")?.errors | json}}</li>
                    <li class="list-group-item list-group-item-info">   dirty:{{loginForm.get("userName")?.dirty}}</li>
                    <li class="list-group-item list-group-item-light">  pristine:{{loginForm.get("userName")?.pristine}}</li>
                    <li class="list-group-item list-group-item-danger"> touched:{{loginForm.get("userName")?.touched}}</li>
                    <li class="list-group-item list-group-item-success">    untouched:{{loginForm.get("userName")?.untouched}}</li>
                    <li class="list-group-item list-group-item-warning" >value?: {{loginForm.get("userName")?.value}}</li>
                </ul>
            </div> 



            <div class="mb-3">
                <label class="form-label" for="password">password: </label>
                <br>
                <input class="form-control" type="password"  formControlName="passWord">
            </div>
            <div class="form-check form-switch">   
                <input type="checkbox" class="form-check-input " role="switch" formControlName="rememberMe">
                <label class="form-check-label"> rememberme</label>
                <br>
            </div>
            <div data-bs-theme="dark">
                <label for="country2">Ülke: </label>
                <select class="m-md-1 dropdown form-select-dark" name="country2" formControlName="countr" >
                    <option *ngFor="let item of countryMenu" value="{{item.value}}">{{item.text}}</option>
                </select>
            </div>
            <div class="container m-1">
                <div class="form-check" *ngFor="let item of genderMenu">
                    <input class="form-check-input" type="radio" [value]="item.value" formControlName="gender">{{item.text}}
                </div>
            </div>
            <div class="d-grid gap-2 mb-1">
                <button type="submit" class="btn btn-success mt-1">Griş</button>
            </div>
        </form>
    </div>
</div>    

 