<div class="row">
    <div class="col-md-8 offset-md-2">  
        <form  [formGroup]="loginForm" (ngSubmit)="gris()">
            <div class="mb-3">
                <label class="form-label" for="userName">Username: </label>
                <br>
                <input class="form-control" type="text"  formControlName="userName">
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">password: </label>
                <br>
                <input class="form-control" type="password"  formControlName="passWord">
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-success">Griş</button>
            </div>
        </form>
    </div>
</div>    

