<form #saveForm="ngForm" class="container" (ngSubmit)="save(saveForm)">
<label for="userName">Username:</label>
<input type="text" name="userName2" [(ngModel)]="loginMode.userName" >
<br>
<label for="password">password: </label>
<input type="password" name="password2"  [(ngModel)]="loginMode.passworld">
<br>
<label for="rememberME2"> rememberme:</label>
<input type="checkbox" class="form-check-input" name="rememberME2" [ngModel]="loginMode.rememberME">
<br>
<label>Ulke</label>
<select name="country2" id="" [ngModel]="loginMode.country">
    <option *ngFor="let item of countryMenu" value="{{item.value}}">{{item.text}}</option>
</select>
<br>
<div *ngFor="let item of genderMenu">
    <input type="radio" name="gender" [value]="item.value" [ngModel]="loginMode.gender">{{item.text}}
</div>
<!-- <input type="radio" name="gender" [value]="1" [ngModel]="loginMode.gender">erkek
<input type="radio" name="gender" value="2" [ngModel]="loginMode.gender">Kadın -->
<br>
<button  type="submit" class="btn btn-info">Giriş</button>

</form>


